<div class="row header h-100" id="normal">

    <div class="col red-section text-center">
        <h1 class="text-white text-center  m-5 p-5 display-6 fw-bold">Protection Website Of <b
                class="bg-danger border border-1 border-dark">Redhead</b> Men
        </h1>
        <p class="text-white display-6 fw-bolder border border-1 border-danger">a website for protection redhead
            men all around world, that you can with donation to them , cause
            make better life for them</p>
    </div>

    <div class="col h-100 ">
        <div class="first-image-header ">
        </div>
    </div>
</div>


<div class="row header h-100" id="mobileMode">

    <div class="col red-section text-center">
        <h1 class="text-white text-center  m-5 p-5 display-6 fw-bold">Protection Website Of <b
                class="bg-danger border border-1 border-dark">Redhead</b> Men
        </h1>
        <p class="text-white display-6 fw-bolder border border-1 border-danger">a website for protection redhead
            men all around world, that you can with donation to them , cause
            make better life for them</p>
    </div>
    <div class="col h-100 ">
        <div class="first-image-header ">
        </div>
    </div>
</div>